USE [ShopQuanAo]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[MaChatLieu] [varchar](50) NOT NULL,
	[TenChatLieu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [varchar](50) NOT NULL,
	[MaHang] [varchar](50) NOT NULL,
	[SL] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DangNhap](
	[TaiKhoan] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NULL,
	[MaQuyen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hang](
	[MaHang] [varchar](50) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[MaChatLieu] [varchar](50) NULL,
	[SL] [int] NULL,
	[DonGiaNhap] [int] NULL,
	[DonGiaBan] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[Anh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HDBan]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HDBan](
	[MaHD] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NULL,
	[NgayBan] [date] NULL,
	[MaKH] [varchar](50) NULL,
	[TongTien] [int] NULL DEFAULT ((0)),
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khach]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khach](
	[MaKH] [varchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [varchar](50) NOT NULL,
	[TenQuen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL01', N'Vải cotton')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL02', N'Vải  Kaki')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL03', N'Vải Jean')
INSERT [dbo].[ChiTietHD] ([MaHD], [MaHang], [SL], [DonGia]) VALUES (N'h1', N'H005', 12, 200000)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaHang], [SL], [DonGia]) VALUES (N'h1', N'huhu', 11, 700000)
INSERT [dbo].[DangNhap] ([TaiKhoan], [Pass], [MaQuyen]) VALUES (N'ad', N'123', N'k')
INSERT [dbo].[DangNhap] ([TaiKhoan], [Pass], [MaQuyen]) VALUES (N'admin', N'123', N'ad')
INSERT [dbo].[DangNhap] ([TaiKhoan], [Pass], [MaQuyen]) VALUES (N'Bao123', N'123', N'k')
INSERT [dbo].[HDBan] ([MaHD], [MaNV], [NgayBan], [MaKH], [TongTien], [TinhTrang]) VALUES (N'h1', N'nv01', CAST(N'2021-12-12' AS Date), N'KH01', 10100000, N'Đã thanh toán')
INSERT [dbo].[Khach] ([MaKH], [TenKH], [DienThoai], [DiaChi]) VALUES (N'ad', N'Bảo', N'45677', N'rg')
INSERT [dbo].[Khach] ([MaKH], [TenKH], [DienThoai], [DiaChi]) VALUES (N'Bao123', N'Phạm Gia Bảo', N'08888', N'Hoa Lư')
INSERT [dbo].[Khach] ([MaKH], [TenKH], [DienThoai], [DiaChi]) VALUES (N'congatn', N'hihi', N'0985839589', N'Tây Ninh')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DienThoai], [DiaChi]) VALUES (N'nv01', N'Phạm Gia Đạt', N'Nam', N'0214578558', N'Bình Chánh')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [DienThoai], [DiaChi]) VALUES (N'nv02', N'Phạm Gia Bảo', N'Nam', N'0214578558', N'Tây Ninh')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuen]) VALUES (N'ad', N'Admin')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuen]) VALUES (N'k', N'Khách')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuen]) VALUES (N'nv', N'Nhân Viên')
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [fk_MaHang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[Hang] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [fk_MaHang]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [fk_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HDBan] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [fk_MaHD]
GO
ALTER TABLE [dbo].[DangNhap]  WITH CHECK ADD  CONSTRAINT [fk_DangNhap_MaQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[DangNhap] CHECK CONSTRAINT [fk_DangNhap_MaQuyen]
GO
ALTER TABLE [dbo].[Hang]  WITH CHECK ADD  CONSTRAINT [fk_MaChatLieu] FOREIGN KEY([MaChatLieu])
REFERENCES [dbo].[ChatLieu] ([MaChatLieu])
GO
ALTER TABLE [dbo].[Hang] CHECK CONSTRAINT [fk_MaChatLieu]
GO
ALTER TABLE [dbo].[HDBan]  WITH CHECK ADD  CONSTRAINT [fk_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Khach] ([MaKH])
GO
ALTER TABLE [dbo].[HDBan] CHECK CONSTRAINT [fk_MaKH]
GO
ALTER TABLE [dbo].[HDBan]  WITH CHECK ADD  CONSTRAINT [fk_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HDBan] CHECK CONSTRAINT [fk_MaNV]
GO
ALTER TABLE [dbo].[Khach]  WITH CHECK ADD  CONSTRAINT [fk_Khach_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[DangNhap] ([TaiKhoan])
GO
ALTER TABLE [dbo].[Khach] CHECK CONSTRAINT [fk_Khach_MaKH]
GO
/****** Object:  StoredProcedure [dbo].[btnthemcthoadon]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[btnthemcthoadon] @mhd varchar(50),@mh varchar(50),@sl int,@dg int
as
 begin
 insert into ChiTietHD values(@mhd,@mh,@sl,@dg)
 update Hang set SL=SL-@sl where MaHang=@mh
 update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 if((select SL from Hang where MaHang=@mh) is null)
 begin
  update Hang set SL=0 where MaHang=@mh
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[huycthdkhach]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[huycthdkhach] @mhd varchar(50),@mh varchar(50)
as
 begin
 update Hang set SL=SL+(select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh) where MaHang=@mh
 delete ChiTietHD where MaHD=@mhd and MaHang=@mh 
 update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 if((select TongTien from HDBan where MaHD=@mhd) is null)
 begin
  update HDBan set TongTien=0 where MaHD=@mhd
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[huyhoadon]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[huyhoadon] @mhd varchar(50)
as
 begin
 update Hang set Hang.SL=Hang.SL+(select ChiTietHD.SL from ChiTietHD,Hang where MaHD=@mhd and ChiTietHD.MaHang=Hang.MaHang)
 from ChiTietHD,Hang where MaHD=@mhd and ChiTietHD.MaHang=Hang.MaHang
 delete ChiTietHD where MaHD=@mhd
 delete HDBan where MaHD=@mhd
 end
GO
/****** Object:  StoredProcedure [dbo].[ktslhangct]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ktslhangct] @mhd varchar(50),@mh varchar(50),@sl int
as
 begin
 if((select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh)<=@sl )--số lượng sửa lớn hơn số lượng hiện tại
 begin
  select COUNT(*) from Hang where SL>=(select @sl-SL from ChiTietHD where MaHD=@mhd and MaHang=@mh) and MaHang=@mh
  return select COUNT(*) from Hang where SL>=(select @sl-SL from ChiTietHD where MaHD=@mhd and MaHang=@mh) and MaHang=@mh
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[MuaSanPham]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MuaSanPham] @mhd varchar(50),@mkh nvarchar(50),@mh varchar(50),@sl int,@dg int
as
 begin
 if((select count(*) from HDBan where MaHD=@mhd)=0)
 begin
  insert into HDBan(MaHD,NgayBan,MaKH,TinhTrang) values(@mhd,GETDATE(),@mkh,N'Trong giỏ')
 end
 insert into ChiTietHD values(@mhd,@mh,@sl,@dg)
 update Hang set SL=SL-@sl where MaHang=@mh
 update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 if((select SL from Hang where MaHang=@mh) is null)
 begin
  update Hang set SL=0 where MaHang=@mh
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[muatiep]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[muatiep] @mhd varchar(50),@mkh nvarchar(50),@mh varchar(50),@sl int
as
 begin
 update ChiTietHD set SL=SL+@sl where MaHD=@mhd and MaHang=@mh
 update Hang set SL=SL-@sl where MaHang=@mh
 update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 if((select SL from Hang where MaHang=@mh) is null)
 begin
  update Hang set SL=0 where MaHang=@mh
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[suacthdadmin]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[suacthdadmin] @mhd varchar(50),@mh varchar(50),@sl int
as
 begin
 if((select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh)<@sl )--số lượng sửa lớn hơn số lượng hiện tại
 begin
  update Hang set SL=SL-(select @sl-SL from ChiTietHD where MaHD=@mhd and MaHang=@mh) where MaHang=@mh
  update ChiTietHD set SL=@sl where MaHD=@mhd and MaHang=@mh 
  update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 end
 if((select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh)>@sl )--số lượng sửa bé hơn số lượng hiện tại
 begin
  update Hang set SL=SL+(select SL-@sl from ChiTietHD where MaHD=@mhd and MaHang=@mh) where MaHang=@mh
  update ChiTietHD set SL=@sl where MaHD=@mhd and MaHang=@mh 
  update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[suacthdkhach]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[suacthdkhach] @mhd varchar(50),@mh varchar(50),@sl int
as
 begin
 if((select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh)<@sl )--số lượng sửa lớn hơn số lượng hiện tại
 begin
  update Hang set SL=SL-(select @sl-SL from ChiTietHD where MaHD=@mhd and MaHang=@mh) where MaHang=@mh
  update ChiTietHD set SL=@sl where MaHD=@mhd and MaHang=@mh 
  update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 end
 if((select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh)>@sl )--số lượng sửa bé hơn số lượng hiện tại
 begin
  update Hang set SL=SL+(select SL-@sl from ChiTietHD where MaHD=@mhd and MaHang=@mh) where MaHang=@mh
  update ChiTietHD set SL=@sl where MaHD=@mhd and MaHang=@mh 
  update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 end
 end
GO
/****** Object:  StoredProcedure [dbo].[ThanhToan]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThanhToan] @mhd varchar(50)
as
 begin
 update HDBan set TinhTrang=N'Đã Thanh Toán' where  MaHD=@mhd
 end
GO
/****** Object:  StoredProcedure [dbo].[themTaiKhoan]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themTaiKhoan] @tk varchar(50),@p varchar(50),@t nvarchar(50),@dt varchar(10),@dc nvarchar(50)
as
 begin
 insert into dangnhap values(@tk,@p,'k')

 insert into Khach values(@tk,@t,@dt,@dc)
 end
GO
/****** Object:  StoredProcedure [dbo].[xoacthdkhach]    Script Date: 12/12/2021 6:07:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoacthdkhach] @mhd varchar(50),@mh varchar(50)
as
 begin
 update Hang set SL=SL+(select SL from ChiTietHD where MaHD=@mhd and MaHang=@mh) where MaHang=@mh
 delete ChiTietHD where MaHD=@mhd and MaHang=@mh 
 update HDBan set TongTien=(select sum(SL*DonGia) from ChiTietHD where MaHD=@mhd) where MaHD=@mhd
 if((select TongTien from HDBan where MaHD=@mhd) is null)
 begin
  update HDBan set TongTien=0 where MaHD=@mhd
 end
 end
GO
